<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienenue à Global Knowledge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <img src="assets/gk.png" alt="Logo de GK"/>
      <ion-card-subtitle>Formation Mobile Hybride</ion-card-subtitle>
      <ion-card-title>IONIC 6</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     IONIC 6, ANGULAR 11, Pages, Composants, Routing, Forms, Services, Modules
    </ion-card-content>
  </ion-card>

</ion-content>
